<h3>{{section.settings.heading}}</h3>
<p>{{section.settings.description}}</p>


<div class="pressList ProductList ProductList--grid Grid" data-desktop-count="2" data-mobile-count="1">

{%for block in section.blocks %}

<div class="Grid__Cell 1/1--phone 1/2--tablet-and-up 1/2--lap-and-up">
  <a href="{{block.settings.pressid}}" target="_blank">
  <div class="master-press-image">

  <img src="{{block.settings.image | img_url:'master'}}"/>
  </div>
  <div class="press-logo">
	<img src="{{block.settings.image2 | img_url:'master'}}"/>
  </div>

  <p class="press-excerpt">{{block.settings.excerpt}}</p>
    
    </a>

</div>

{%endfor%}
  </div>



{% schema %}
  {
    "name": "press grid",
  "class": "shopify-section--bordered",
    "settings": [
          {
            "type":"text",
            "label":"your headline for the section",
            "id":"heading"
          },
          {
            "type":"richtext",
            "label":"your description",
            "id":"description"
          }
        ],  
  "blocks" : [
        {
          "type":"image",
          "name":"Press Block",
          "settings":[
                  {
                    "type":"image_picker",
                    "id":"image",
                    "label": "press image",
                    "info": "1250 x 1000 px recommended"
                  },
					{
                    "type":"image_picker",
                    "id":"image2",
                    "label": "press logo",
                    "info": "1000 x 184 px recommended"
                  },
					{
					"type":"richtext",
					"id":"excerpt",
					"label": "press excerpt",
					"info": "one or two sentence summary of article"
					},
					{
					"type":"url",
					"id":"pressid",
					"label": "press url"
					}
                ]
        }
        
        ],
  "presets" : [
        {
          "category": "image",
          "name": "Press Grid"
        }
        ]

  }
{% endschema %}

